@model IEnumerable<WebCompanyNew.Models.Personal>

@{
    ViewData["Title"] = "WebCompany";
}


<div class="container">
    <h3>Сотрудники</h3>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-2 d-flex align-items-md-stretch">
                <div class="card">
                    @Html.DisplayFor(modelItem => item.person) <br />
                    @Html.DisplayFor(modelItem => item.namePos)<br />
                    @Html.DisplayFor(modelItem => item.workEmail) <br />
                    @Html.DisplayFor(modelItem => item.workPhone)  <br />
                    @Html.DisplayFor(modelItem => item.dateB)
                </div>
            </div>
        }

    </div>
</div>


<aside style="padding-left:10px">

    <h3>Календарь событий</h3>

    <div id="datep"></div>

    <h3>События</h3>

    @foreach(var item in ViewBag.Events)
    {
        <div class="col-lg-9 d-flex align-items-md-stretch" style="padding-top:5px">
            <div class="card">
                @item.nameEvent <br />
                @item.textEvent <br />
                @item.dateEvent @item.author
            </div>
        </div>
    }
</aside>

<div class="container">
    <h3>Новости</h3>
    <div class="row">
    @foreach(var item in ViewBag.News)
    {
        <div class="col-lg-6 d-flex align-items-md-stretch">
            <div class="card" style="margin-top:15px">
				<img src="~/newscard.png" class="card-img-top"/>
                @item.titleNews <br />
                @item.textNews <br />
                @item.dateNews
            </div>
        </div>
    }
    </div>
</div>

